body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 50%;
  
}
.formPage{
 width: 100%;
 height: 100vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
    padding: 30px;
    background-color: #b1b0ae30;
  justify-content: space-evenly;
    height: 600px;
  border-radius: 10px;

}

label{
font-size: 24px;
    font-weight: 600;
    color: gray;
}

input{
  height: 38px;
  font-size: 25px;
  margin-bottom: 10px;
 border: grey;
}

.submit-button{
  width: 26%;
  margin: 0 auto;
  background-color: gray;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  
}

.half-row div {
display: flex;
flex-direction: column;
width: 46%
}
.half-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.input-name{display: flex;
flex-direction: column;
}
.input-email{
  display: flex;
flex-direction: column;
}
.input-street{
  display: flex;
flex-direction: column;
}
.input-city{
  display: flex;
flex-direction: column;
}
.input-state{
  display: flex;
flex-direction: column;
}
.half-row-zip {
display: flex;
flex-direction: row;
  width: 100%
}
.half-row-zip div{
 display: flex;
  width: 48%;
flex-direction: column;
}



